.sidebar{
    background: transparent;
    background-color: rgba(222, 239, 243, 0.71);
    max-height: 100%;
    display: flex;
    flex-direction: column;
 
.title{
    color: white;
    font-size: 30px;
    font-family: Koulen;
}
}