.weatherinfo {
  margin-top: 90vh;
  background-color: black;
  width: 35vw;
  height: max-content;
  justify-content: center;
  padding: 40px;
  color: white;
  margin-top: 10%;
  margin-left: 5%;
  opacity: 0.7;
}
