.weatherinfo {
  margin-top: 90vh;
  background-color: black;
  width: 30vw;
  height: max-content;
  justify-content: center;
  padding: 20px;
  color: white;
  margin-top: 10%;
  margin-left: 5%;
  opacity: 0.7;

  p{
    border-bottom: 1px solid white;
    margin-bottom: 3vh;
    justify-content: baseline;

    span{
      float: right;
    }
  }
}
