*{
  margin: 0;
  padding: 0;
}

body > #root > div {
  height: 100vh;
  width: 100vw;
}

.background{
  display: flex;
  flex-direction: row;
  background : url('./assets/backgroundimage-cloudy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.credit{
  margin-top: 90vh;
  position: absolute;
  margin-left: 90vw;
}

